{#
/**
 * @file
 * Default theme implementation for a one column layout.
 *
 * This template provides a two column display layout with full width areas at
 * the top, bottom and in the middle.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}

{% if content %}
<div{{ attributes }} >
        {% if content.content %}

            <{{settings.wrappers.content}} {{ region_attributes.content.addClass(settings.region_wrapper_classes.content) }}>
                {{ content.content }}
            </{{settings.wrappers.content}}>
       
        {% endif %}
</div>
{% endif %}
